:root {
     --font-primary: 'Montserrat', sans-serif;
     --font-secondary: 'Inter', sans-serif;

--color-lightyellow : #eadece;
     --color-white : #ffffff;
     --color-black : #000000; 
     --color-red : #e3512A; 
     --color-green : #2a645c;
     
}

body{
     background-color: var(--color-lightyellow);
}