.container{
     width: 100%;
     max-width: 1120px;
     margin: 0 auto;
     padding: 24px;
}

.container.sm{
     max-width: 620px;
}

.container.center{
     text-align: center;
}

.section-red{
     background-color: var( --color-red)     
}
.section-white{
     background-color: var( --color-white)     
}
.section-green{
     background-color: var( --color-green)     
}
.section-lightyellow{
     background-color: var( --color-lightyellow )     
}
.section-black{
     background-color: var( --color-black )     
}

.section-padding{
    padding:  60px;
}
.section-padding.md{ 
     padding:  20px;
 }
